    <%- include('header') -%>
    <div class="box" id="heading">
        <h1><%= listType %></h1>
    </div>
    <div class="box">
            <% newListItems.forEach(item => { %>
                <form action="/delete" method="post">
                <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                <p><%= item.name %></p>
            </div>
            <% }); %>
            <form class="item" method="post">
                <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off" autofocus>
                <button type="submit" value="<%= listType %>" name="list">+</button>
            </form>
</div>
    
<%- include('footer') -%>